[Unit]
Description=One-time flatpak install on first boot
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/var/lib/flatpak-firstboot.done

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/flatpak install -y --system app.zen_browser.zen && /usr/bin/touch /var/lib/flatpak-firstboot.done'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
