stages:
  - triggers
default:
  interruptible: true
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: "$CI_COMMIT_BRANCH"
    - if: "$CI_COMMIT_TAG"
# --- Trigger Base Pipeline ---
trigger-base:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-base.yml
        - recipes/recipe-core.yml
        - files/scripts/cachy-kernel.sh
        - files/scripts/cleanup.sh
        - files/scripts/install-theme.sh
        - .gitlab-ci-base.yml
        - "files/system/**/*"
# --- Trigger Nvidia Pipeline ---
trigger-nvidia:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-nvidia.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-nvidia.yml
        - files/scripts/cachy-kernel.sh
        - files/scripts/cleanup.sh
        - files/scripts/install-theme.sh
        - "files/system/**/*"
# --- Trigger Test Pipeline ---
trigger-test:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - changes:
        - recipes/recipe-test.yml
        - recipes/recipe-core-test.yml
        - .gitlab-ci-test.yml
        - files/scripts/cachy-kerne-test.sh
        - files/scripts/cleanup-test.sh
        - files/scripts/install-theme-test.sh
        - "files/system-test/**/*"
