include:
    - local: .gitlab-ci-common.yml
stages:
    # - build
    - live-iso
# build-test-image:
#     extends: .bluebuild-job-template
#     stage: build
#     script:
#         - bluebuild build --verbose --compression-format zstd --push ./recipes/recipe-test.yml

build-test-live-iso:
    stage: live-iso
    image: fedora:41
    tags:
        - saas-linux-2xlarge-amd64
    before_script:
        - dnf install -y just git podman xorriso
        - mkdir -p /etc/containers
        # 1. Force host networking (prevents nftables error)
        # 2. Disable cgroups (prevents OCI runtime error in unprivileged runners)
        - |
            cat <<EOF > /etc/containers/containers.conf
            [containers]
            netns = "host"
            cgroupns = "host"
            cgroups = "disabled"
            EOF
        - git clone https://github.com/ublue-os/titanoboa.git
        - cd titanoboa
    script:
        - just build registry.gitlab.com/origami-linux/images/origami-test:br-test-43 1 "" squashfs

        # Manually create the ISO since the 'iso' recipe refuses to run nested
        - |
            xorrisofs -o $CI_PROJECT_DIR/origami-test-live.iso \
              -R -J -V "ORIGAMI_LIVE" \
              -A "Origami Linux Live ISO" \
              -b boot/grub/grub.cfg -no-emul-boot \
              -boot-load-size 4 -boot-info-table \
              ./work/iso-root
    artifacts:
        paths:
            - origami-test-live.iso
        expire_in: 1 week
