include:
    - local: .gitlab-ci-common.yml
stages:
    # - build
    - live-iso
# build-test-image:
#     extends: .bluebuild-job-template
#     stage: build
#     script:
#         - bluebuild build --verbose --compression-format zstd --push ./recipes/recipe-test.yml

build-test-live-iso:
    stage: live-iso
    image: fedora:41
    tags:
        - saas-linux-2xlarge-amd64
    before_script:
        - dnf install -y just git podman xorriso
        - mkdir -p /etc/containers
        # 1. Force host networking (prevents nftables error)
        # 2. Disable cgroups (prevents OCI runtime error in unprivileged runners)
        - |
            cat <<EOF > /etc/containers/containers.conf
            [containers]
            netns = "host"
            cgroupns = "host"
            cgroups = "disabled"
            EOF
        - git clone https://github.com/ublue-os/titanoboa.git
        - cd titanoboa
    script:
        # Define variables to match Titanoboa's expectations
        - export IMAGE="registry.gitlab.com/origami-linux/images/origami-test:br-test-43"

        # Execute individual steps manually to avoid the 'iso' recipe's nested check
        - just rootfs $IMAGE
        - just initramfs $IMAGE
        - just squash $IMAGE
        - just iso-organize $IMAGE

        # Final ISO creation (Manual xorriso)
        # Note: We use the -p option to ensure directories exist
        - mkdir -p $CI_PROJECT_DIR
        - xorrisofs -o $CI_PROJECT_DIR/origami-test-live.iso \
          -R -J -V "ORIGAMI_LIVE" \
          -v ./work/iso-root
    artifacts:
        paths:
            - origami-test-live.iso
        expire_in: 1 week
