# --- Reusable Setup Logic ---
.setup_env: &setup_env
  - echo "Waiting for Docker daemon..."
  - until docker info > /dev/null 2>&1; do sleep 1; done
  - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
  - export COSIGN_PRIVATE_KEY=$(cat .secure_files/cosign.key)
  - echo "Logging in to $CI_REGISTRY..."
  - echo $CI_REGISTRY_PASSWORD | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  - cp .secure_files/MOK.key MOK.key
  - chmod 600 MOK.key
.bluebuild-job-template:
  interruptible: true
  tags:
    - saas-linux-2xlarge-amd64
  image:
    name: ghcr.io/blue-build/cli
    entrypoint: [""]
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
    S3_ENDPOINT_URL: "https://eu-1.cdn77-storage.com"
  before_script:
    - *setup_env
