include:
  - local: .gitlab-ci-common.yml
stages:
  - build
  - iso
build-nvidia-image:
  extends: .bluebuild-job-template
  stage: build
  script:
    - bluebuild build --verbose --build-chunked-oci --compression-format zstd --push ./recipes/nvidia-cachy.yml
build-nvidia-iso:
  extends: .bluebuild-job-template
  stage: iso
  before_script:
    - !reference [.bluebuild-job-template, before_script]
    - echo "Installing AWS CLI..."
    - dnf install -y awscli2
  variables:
    ISO_NAME: "origami-nvidia-cachy-x86_64.iso"
    IMAGE_NAME: "registry.gitlab.com/origami-linux/images/origami-nvidia:cachy"
  script:
    - bluebuild generate-iso --enrollment-password origami --iso-name $ISO_NAME image $IMAGE_NAME
    - export AWS_ACCESS_KEY_ID=$S3_ACCESS_KEY
    - export AWS_SECRET_ACCESS_KEY=$S3_SECRET_KEY
    - aws s3 cp $ISO_NAME s3://origami-linux/$ISO_NAME --endpoint-url $S3_ENDPOINT_URL
    - |
      curl -X POST "https://api.cdn77.com/v3/cdn/$CDN_ID/job/purge/paths" \
        -H "Authorization: Bearer $CDN77_API_KEY" \
        -H "Content-Type: application/json" \
        -d "{\"paths\": [\"/$ISO_NAME\"]}"
