include:
  - local: .gitlab-ci-common.yml
stages:
  - build
  - iso
build-test-image-cachy:
  extends: .bluebuild-job-template
  stage: build
  script:
    - bluebuild build --verbose --compression-format zstd --push ./recipes/recipe-test-cachy.yml
build-test-cachy-iso:
  extends: .bluebuild-job-template
  stage: iso
  image: fedora:43
  services:
    - docker:dind

  variables:
    ISO_NAME: "origami-test-cachy-x86_64.iso"
    IMAGE_NAME: "registry.gitlab.com/origami-linux/images/origami-test"
    IMAGE_TAG: "br-test-cachy-43"

    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

  before_script:
    - !reference [.bluebuild-job-template, before_script]
    - echo "Installing ISO build dependencies..."
    - dnf install -y git wget awscli2 docker xorriso squashfs-tools dosfstools mtools osbuild osbuild-ostree python3-pyyaml

  script:
    - echo '#!/bin/bash' > /usr/bin/podman
    - echo 'docker "$@"' >> /usr/bin/podman
    - chmod +x /usr/bin/podman

    - echo "Cloning Titanoboa..."
    - git clone https://github.com/ublue-os/titanoboa.git
    - cd titanoboa

    - export POST_SCRIPT="$CI_PROJECT_DIR/scripts/origami-iso.sh"

    - echo "Running Titanoboa..."
    - |
      sudo -E ./titanoboa \
        --image "$IMAGE_NAME:$IMAGE_TAG" \
        --output-dir "$CI_PROJECT_DIR" \
        --flatpaks "$FLATPAKS_LIST" \
        --post-script "$POST_SCRIPT" \
        --builder-distro fedora

    - cd "$CI_PROJECT_DIR"
    - ls -lh
    - mv deploy.iso "$ISO_NAME" || mv deploy-*.iso "$ISO_NAME"

    - echo "Calculating Checksum..."
    - sha256sum "$ISO_NAME" | tee "${ISO_NAME}-CHECKSUM"

    - echo "Uploading to S3..."
    - export AWS_ACCESS_KEY_ID=$S3_ACCESS_KEY
    - export AWS_SECRET_ACCESS_KEY=$S3_SECRET_KEY
    - aws s3 cp "$ISO_NAME" s3://origami-linux/$ISO_NAME --endpoint-url $S3_ENDPOINT_URL
    - aws s3 cp "${ISO_NAME}-CHECKSUM" s3://origami-linux/${ISO_NAME}-CHECKSUM --endpoint-url $S3_ENDPOINT_URL
