include:
  - local: .gitlab-ci-common.yml
stages:
  - build
  - iso
build-test-image-cachy:
  extends: .bluebuild-job-template
  stage: build
  script:
    - bluebuild build --verbose --compression-format zstd --push ./recipes/recipe-test-cachy.yml
build-test-cachy-iso:
  extends: .bluebuild-job-template
  stage: iso
  image: fedora:43

  # REMOVED: services and variables (Inherited from template)

  before_script:
    # 1. Install Docker & Just FIRST
    # We must do this before referencing the template, otherwise 'docker info' will fail.
    - echo "Installing build dependencies..."
    - dnf install -y docker just git wget awscli2 sudo which

    # 2. Fake Podman Wrapper
    # Titanoboa expects 'podman', so we wrap it to use the 'docker' command we just installed.
    - echo '#!/bin/bash' > /usr/bin/podman
    - echo 'docker "$@"' >> /usr/bin/podman
    - chmod +x /usr/bin/podman

    # 3. NOW run the template's setup (Wait for Daemon + Login)
    # This works now because 'docker' CLI is installed.
    - !reference [.bluebuild-job-template, before_script]

  script:
    - git clone https://github.com/ublue-os/titanoboa.git

    # Define absolute paths for safety
    - export ABS_POST_SCRIPT="$CI_PROJECT_DIR/files/scripts/origami-iso.sh"
    - export BUILD_IMAGE="$IMAGE_NAME:$IMAGE_TAG"

    - cd titanoboa
    - echo "Building ISO..."

    # Run 'just build' as per Titanoboa README
    - |
      HOOK_post_rootfs="$ABS_POST_SCRIPT" \
      sudo -E just build "$BUILD_IMAGE" \
        1 \
        squashfs \
        ""

    # Move output
    - mv *.iso "$CI_PROJECT_DIR/$ISO_NAME"

    # Checksum & Upload
    - cd "$CI_PROJECT_DIR"
    - sha256sum "$ISO_NAME" | tee "${ISO_NAME}-CHECKSUM"
    - export AWS_ACCESS_KEY_ID=$S3_ACCESS_KEY
    - export AWS_SECRET_ACCESS_KEY=$S3_SECRET_KEY
    - aws s3 cp "$ISO_NAME" s3://origami-linux/$ISO_NAME --endpoint-url $S3_ENDPOINT_URL
    - aws s3 cp "${ISO_NAME}-CHECKSUM" s3://origami-linux/${ISO_NAME}-CHECKSUM --endpoint-url $S3_ENDPOINT_URL
