include:
  - local: .gitlab-ci-common.yml
stages:
  - build
  - iso
build-test-image-cachy:
  extends: .bluebuild-job-template
  stage: build
  script:
    - bluebuild build --verbose --compression-format zstd --push ./recipes/recipe-test-cachy.yml
build-test-cachy-iso:
  extends: .bluebuild-job-template
  stage: iso

  before_script:
    - !reference [.bluebuild-job-template, before_script]
    - echo "Installing AWS CLI..."
    - dnf install -y awscli2

  variables:
    ISO_NAME: "origami-test-cachy-x86_64.iso"
    IMAGE_NAME: "registry.gitlab.com/origami-linux/images/origami-test:br-test-cachy-43"

  script:
    - |
      docker run --rm --privileged \
        -v "$CI_PROJECT_DIR:$CI_PROJECT_DIR" \
        -w "$CI_PROJECT_DIR" \
        -e INPUT_IMAGE_REF="$IMAGE_NAME" \
        -e INPUT_HOOK_POST_ROOTFS="$CI_PROJECT_DIR/files/scripts/origami-iso.sh" \
        -e INPUT_BUILDER_DISTRO="fedora" \
        -e INPUT_KARGS="" \
        -e INPUT_ISO_DEST="$CI_PROJECT_DIR/$ISO_NAME" \
        ghcr.io/ublue-os/titanoboa:main

    - echo "Calculating Checksum..."
    - sha256sum "$ISO_NAME" | tee "${ISO_NAME}-CHECKSUM"

    - echo "Uploading to S3..."
    - export AWS_ACCESS_KEY_ID=$S3_ACCESS_KEY
    - export AWS_SECRET_ACCESS_KEY=$S3_SECRET_KEY
    - aws s3 cp "$ISO_NAME" s3://origami-linux/$ISO_NAME --endpoint-url $S3_ENDPOINT_URL
    - aws s3 cp "${ISO_NAME}-CHECKSUM" s3://origami-linux/${ISO_NAME}-CHECKSUM --endpoint-url $S3_ENDPOINT_URL
