stages:
  - triggers
default:
  interruptible: true
variables:
  TEST_PIPELINE_BRANCH: "test"
workflow:
  rules:
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: "$CI_COMMIT_BRANCH"
    - if: "$CI_COMMIT_TAG"

# --- Trigger Base Pipeline ---
trigger-base-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-base.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-base.yml
        - "files/**/*"

# --- Trigger Base Cachy Pipeline ---
trigger-base-cachy-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-base-cachy.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-base-cachy.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-base-cachy.yml
        - "files/**/*"

# --- Trigger Nvidia Pipeline ---
trigger-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-nvidia.yml
    strategy: depend
  rules:
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      when: never
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - changes:
        - recipes/recipe-nvidia.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-nvidia.yml
        - "files/**/*"

# --- Trigger Test Pipeline ---
trigger-test-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      changes:
        - recipes/recipe-test.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-test.yml
        - "files/**/*"

# --- Trigger Test Cachy Pipeline ---
trigger-test-cachy-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test-cachy.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      changes:
        - recipes/recipe-test-cachy.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-test-cachy.yml
        - "files/**/*"

# --- Trigger Test Nvidia Pipeline ---
trigger-test-nvidia-image-build:
  stage: triggers
  trigger:
    include: .gitlab-ci-test-nvidia.yml
    strategy: depend
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
    - if: "$CI_COMMIT_REF_NAME == $TEST_PIPELINE_BRANCH"
      changes:
        - recipes/recipe-test-nvidia.yml
        - recipes/recipe-core.yml
        - .gitlab-ci-test-nvidia.yml
        - "files/**/*"
