include:
  - local: .gitlab-ci-common.yml
stages:
  - build
  - iso
build-test-image-cachy:
  extends: .bluebuild-job-template
  stage: build
  script:
    - bluebuild build --verbose --compression-format zstd --push ./recipes/recipe-test-cachy.yml
build-test-cachy-iso:
  extends: .bluebuild-job-template
  stage: iso
  image: fedora:43

  services:
    - docker:dind

  variables:
    ISO_NAME: "origami-test-cachy-x86_64.iso"
    IMAGE_NAME: "registry.gitlab.com/origami-linux/images/origami-test"
    IMAGE_TAG: "br-test-cachy-43"
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

  before_script:
    # 1. Install Docker CLI and Build Dependencies FIRST
    # We include 'sudo' because Titanoboa scripts expect it
    - echo "Installing dependencies..."
    - dnf install -y docker git wget awscli2 xorriso squashfs-tools dosfstools mtools osbuild osbuild-ostree python3-pyyaml sudo

    # 2. NOW wait for the Docker Daemon
    - echo "Waiting for Docker daemon..."
    - until docker info > /dev/null 2>&1; do sleep 1; done

    # 3. Log in to Registry (Replicating your .setup_env logic manually)
    - echo "Logging in to registry..."
    - echo $CI_REGISTRY_PASSWORD | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin

  script:
    # 1. Create a fake 'podman' that redirects to 'docker'
    # Titanoboa uses 'podman' commands, but we are using the 'docker' service
    - echo '#!/bin/bash' > /usr/bin/podman
    - echo 'docker "$@"' >> /usr/bin/podman
    - chmod +x /usr/bin/podman

    # 2. Clone Titanoboa
    - git clone https://github.com/ublue-os/titanoboa.git
    - cd titanoboa

    # 3. Define Paths
    - export POST_SCRIPT="$CI_PROJECT_DIR/scripts/origami-iso.sh"

    # 4. Run Titanoboa
    # We use sudo -E to preserve env vars.
    # The script will use our fake 'podman' wrapper to talk to the Docker daemon.
    - |
      sudo -E ./titanoboa \
        --image "$IMAGE_NAME:$IMAGE_TAG" \
        --output-dir "$CI_PROJECT_DIR" \
        --post-script "$POST_SCRIPT" \
        --builder-distro fedora

    # 5. Handle Output
    - cd "$CI_PROJECT_DIR"
    - ls -lh
    # Titanoboa output names vary, grab whatever ISO was made
    - mv deploy*.iso "$ISO_NAME"

    # 6. Checksum & Upload
    - sha256sum "$ISO_NAME" | tee "${ISO_NAME}-CHECKSUM"
    - export AWS_ACCESS_KEY_ID=$S3_ACCESS_KEY
    - export AWS_SECRET_ACCESS_KEY=$S3_SECRET_KEY
    - aws s3 cp "$ISO_NAME" s3://origami-linux/$ISO_NAME --endpoint-url $S3_ENDPOINT_URL
    - aws s3 cp "${ISO_NAME}-CHECKSUM" s3://origami-linux/${ISO_NAME}-CHECKSUM --endpoint-url $S3_ENDPOINT_URL
